*,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("PP.jpg");
  background-size: cover;
  background-position: top;
}

h1,
h2,
h3,
p,
a {
  color: #fdfdfd;
  text-align: center;
}

.centerbox {
  width: 550px;
  border: 1px solid #fdfdfd;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10px;
  background: rgb(0, 0, 0, 0.5);
}

.avatar img {
  border-radius: 50%;
}

.social {
  margin: 5px auto;
}
.social a i {
  margin: 5px;
}
